<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sunny.dao.EmployeeDao">
    <resultMap id="EmployeeMap" type="cn.sunny.entity.Employee">
        <id column="id" property="id" jdbcType="INTEGER" javaType="Integer"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="cardId" property="cardId" jdbcType="VARCHAR" javaType="String"/>
        <result column="address" property="address" jdbcType="VARCHAR" javaType="String"/>
        <result column="postCode" property="postCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="postCode" property="postCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="tel" property="tel" jdbcType="VARCHAR" javaType="String"/>
        <result column="phone" property="phone" jdbcType="VARCHAR" javaType="String"/>
        <result column="qqNum" property="qqNum" jdbcType="VARCHAR" javaType="String"/>
        <result column="email" property="email" jdbcType="VARCHAR" javaType="String"/>
        <result column="sex" property="sex" jdbcType="INTEGER" javaType="Integer"/>
        <result column="party" property="party" jdbcType="VARCHAR" javaType="String"/>
        <result column="birthday" property="birthday" jdbcType="DATE" javaType="java.sql.Date"/>
        <result column="race" property="race" jdbcType="VARCHAR" javaType="String"/>
        <result column="education" property="education" jdbcType="VARCHAR" javaType="String"/>
        <result column="speciality" property="speciality" jdbcType="VARCHAR" javaType="String"/>
        <result column="hobby" property="hobby" jdbcType="VARCHAR" javaType="String"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="createDate" property="createDate" jdbcType="DATE" javaType="java.sql.Date"/>
        <association property="dept" column="dept_id" javaType="cn.sunny.entity.Dept"
                     select="cn.sunny.dao.DeptDao.getDept"/>
        <association property="job" column="job_id" javaType="cn.sunny.entity.Job" select="cn.sunny.dao.JobDao.getJob"/>
    </resultMap>

    <insert id="insertEmployee" parameterType="cn.sunny.entity.Employee">
        insert into employee(address,birthday,cardId,createDate,education,email,hobby,name,party,phone,postCode,qqNum,race,remark,sex,speciality,tel,dept_id,job_id)
        values(#{address},#{birthday},#{cardId},#{createDate},#{education},#{email},#{hobby},#{name},#{party},#{phone},#{postCode},#{qqNum},#{race},#{remark},#{sex},#{speciality},#{tel},#{dept.id},#{job.id})
    </insert>
    <select id="getEmployeeList" resultMap="EmployeeMap">
        select * from employee
        <where>
            <if test="keyword != null and keyword !=''">
                name like CONCAT(CONCAT('%',#{keyword,jdbcType=VARCHAR,javaType=String},'%'))
            </if>
            <if test="dept_id >0">
                AND dept_id = #{dept_id}
            </if>
            <if test="job_id >0">
                AND job_id = #{job_id}
            </if>
        </where>
        limit #{start},#{size}
    </select>
    <select id="getCount" resultType="Integer">
        select count(1) from employee
        <where>
            <if test="keyword != null and keyword !=''">
                name like CONCAT(CONCAT('%',#{keyword,jdbcType=VARCHAR,javaType=String},'%'))
            </if>
            <if test="dept_id >0">
                AND dept_id = #{dept_id}
            </if>
            <if test="job_id >0">
                AND job_id = #{job_id}
            </if>
        </where>
    </select>
    <delete id="deleteEmployee" parameterType="Integer">
        delete from employee where id=#{id}
    </delete>
</mapper>
