<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sunny.dao.JobDao">
    <resultMap id="JobMap" type="cn.sunny.entity.Job">
        <id column="id" property="id" jdbcType="INTEGER" javaType="Integer"/>
        <result column="name" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="remark" property="remark" jdbcType="VARCHAR" javaType="String"/>       
    </resultMap>
    
	<insert id="insertJob" parameterType="cn.sunny.entity.Job">
		insert into job(name,remark)values(#{name},#{remark})
	</insert>
 	<delete id="deleteJob" parameterType="Integer">
		delete from job where id=#{id}
	</delete>	
	<select id="getJobList" resultMap="JobMap">
		select id,name,remark from job 
		<if test="keyword != null and keyword !=''">
			where name like CONCAT(CONCAT('%',#{keyword,jdbcType=VARCHAR,javaType=String},'%'))
		</if>
		limit #{start},#{size}
	</select>
	<update id="updateJob" parameterType="cn.sunny.entity.Job">
		update job set name=#{name},remark=#{remark} where id=#{id}
	</update>	
	<select id="getCount" resultType="Integer">
		select count(1) from job
		<if test="keyword != null and keyword !=''">
			where name like CONCAT(CONCAT('%',#{keyword,jdbcType=VARCHAR,javaType=String},'%'))
		</if>
	</select>
</mapper>